<template>
  <li>
    <div class="before"></div>
    <span @dblclick="addNode">{{ node.label }}</span>
    <div class="wrapper">
      <div class="before"></div>
      <ul v-if="node.children && node.children.length > 0">
        <node v-for="child in node.children" :node="child"></node>
      </ul>
    </div>
  </li>
</template>

<script>

    import {eventEmitter} from "./main";

    export default {
        name: "node",
        props: {
            node: Object,
        },
        methods: {
            addNode() {
                eventEmitter.$emit('addNode', this.node.children);
            }
        }
    };
</script>
<style>
  span {
    border: 1px solid grey;
    box-shadow: 2px 2px 2px 0 grey;
    padding: 5px;
  }
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
  }
  .before {
    width: 50px;
    height: 1px;
    background-color: grey;
  }
  .wrapper {
    display: flex;
    align-items: center;
  }
</style>
