<template>
  <div class="root">
      <node :node="tree"></node>
  </div>
</template>

<script>
    import Node from "./Node";
    import {data} from './data';
    import {eventEmitter} from './main'

    export default {
        data() {
            return {
                tree: data
            }
        },
        components: {
            Node
        },
        created() {
            eventEmitter.$on('addNode', children => {
                children.push({
                    label: 'new node',
                    children: []
                });
            })
        }
    };
</script>

<style>
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
    border-left: 1px solid black;
  }
</style>
